<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="#">JustDo.It</a>
</nav>
<div class="container">
    <div class="row">
        <div class="sidenav col-lg-2 col-md-2 col-sm-2">
            <a *ngFor="let category of viewCategories" [routerLink]="category.url">{{category.label}}</a>
        </div>
        <div class="body-container col-lg-8 col-md-8 col-sm-8">
            <div class="todo-text-container form-group">
                <input type="text" class="todo-text form-control" placeholder="Add Task here, Press Enter to Save" maxlength="50" (keyup.enter)="addTask($event)" [disabled]="viewingOnlyCompletedTasks">
            </div>
            <router-outlet></router-outlet>
        </div>
      </div>
</div>
