.container {
    margin: 0px !important;
    padding: 0px !important;
    max-width: 100% !important;
}

.row {
    margin: 0px !important;
}

.body-container {
    margin: 1% 0;
}

.sidenav {
    height: calc(100vh - 50px);
    background-color: #5c5c5c;
    overflow-x: hidden;
}

.sidenav a {
    padding: 3% 8%;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    display: block;
}

.sidenav a:hover {
    color: #e2e2e2;
    cursor: pointer;
}